# Example environment variables for the backend
# Copy to a new file named .env and fill values as needed.

PORT=3001

# Mongo DB connection info
# If your Mongo instance requires auth set MONGO_USER and MONGO_PASS
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=terry
MONGO_USER=skunksbarbara_db_user
MONGO_PASS=bP0mLYyjsVHwbE5E

# Alternatively provide a full connection string (Atlas example):
# MONGO_URI=mongodb+srv://skunksbarbara_db_user:bP0mLYyjsVHwbE5E@cluster0.qnecwmg.mongodb.net/terry?retryWrites=true&w=majority
